<div class="jumbotron">
	<h1>Welcome</h1>
	<p>This site serves as a working Ruby on Rails "CRUD" demonstration in the format of a personal resume. It makes use of several modern technologies including HTML5, Bootstrap CSS, PostgreSQL, Heroku, and GitHub.</p>
</div>