<h2>Contact</h2>
  <% @contacts.each do |contact| %>
    <div class="row">     
      <div class="col-xs-12 col-md-12">
        <a class="btn btn-social-icon btn-google-plus">
        	<i class="fa fa-google-plus"><%= contact.link %></i>
        </a>
      </div>
    </div>
  </li>
  <% end %>
</ul>